
@import url(//db.onlinewebfonts.com/c/29f4c6fe36801450398679968448cf3d?family=Super+Mario+Bros.);


body{
  margin: 0;
  padding:0;
  background-image: url(wpw7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 
}

#wrapper{
  max-width: 100%;
  max-height: max-content;
  overflow: visible;
}

.div1{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1px;
}

.div2 {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  
  
}
.colomn{
  text-align: center;
}

.colomn2 {

  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}


.item-addtask{
  justify-content: center;
  text-align: center;
padding: 1vh;
width:40vh;
  background-color: rgb(128, 200, 21);
  border-color: black;
  border-radius: 7vh;
  margin-right:50%;
  border-style: solid;
  border-width: 0.35vh;
 
box-shadow: 0px 0px 0px 1px rgb(117, 248, 2);
animation:anim-shadow .3s forwards;

}

@keyframes anim-shadow{
  100%{
    box-shadow:0px 0px 50px 20px rgba(112,111,211,0);
  }
}


p {
  font-family: "super";
}

p1{
  font-family: "super";
}

.delete-item {
  margin-left: 90vh;
  background-color: rgb(128, 200, 21);
}

@font-face {
  font-family:super;
  src: url(SuperMario256.ttf);
}

.Logo {
  color: rgba(255, 0, 0, 0.731);
  font-family: "super";
  font-size:10vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-shadow: 1px 1px 1px black,
          1px 2px 1px black,
          1px 3px 1px black,
          1px 4px 1px black,
          1px 5px 1px black,
          1px 6px 1px black,
          1px 7px 1px black,
          1px 8px 1px black,
          1px 9px 1px black,
          1px 10px 1px black;
          


}

.monday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;
  
}

.header-monday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
 
  border-radius: 10vh;
 
}

.tuesday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;
}

.header-tuesday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.wendesday{ 
  width: 30vh;
  height: 45vh;
  max-height: max-content;
}

.header-wendesday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.thursday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;
}

.header-thursday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.friday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;
}

.header-friday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.saturday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;
}

.header-saturday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.sunday {
  width: 30vh;
  height: 45vh;
  max-height: max-content;

}

.header-sunday {
  padding:2vh;
  font-size: large;
  font-family: "super";
  text-align: center;
  background-color:#f38158;
  border-color: rgba(0, 0, 0, 0.897);
  
  border-style:solid ;
  border-width:   0.35vh;
  
  border-radius: 10vh;
}

.popup {
  background-image: url("addtask2.jpg");
  box-shadow: 0px 0px 40px 5px  black;
  background-position: center;
  
  background-size: contain;
  visibility: hidden;
  justify-content: center;
  min-height: 20rem;
  max-width: 20rem;
  border-style: solid;
  border-color: #966F33;
  border-radius: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: 0.5s;
 
}

@media screen and (max-width: 600px) {
  .popup {
    max-width: 90%;
  }
}

input {
  display: block;
  border: solid rgba(0, 0, 0, 0.863);
 
  width: 95%;
  
  margin: 10px auto;
  border-radius: 7px;
  font-family: "super";
  
  
  
  
  
}
select{
  display: block;
  border: solid rgba(0, 0, 0, 0.863);
  width: 95%;
  padding: 10px auto;
  margin: 10px auto;
  border-radius: 7px;
  font-family: "super";
  font-size: small;

}

.closepopup {
  font-family: "super mario 256";
}

.container#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
.container#blur.remove{
  filter: none;
  visibility: none;
}



.popup form {
  font-family: "super mario 256";
  color:black;
  text-align: center;
  padding: 70px;
  
 
}



.open-popup {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  
}

.info-box{
  border-radius: 3vh;
 display:block;
 
  padding: 2vh;
 
  text-align: center;
  border-color: rgba(0, 0, 0, 0.897);
  background-color:rgb(163, 198, 248);
  border-style:solid ;
  border-width:   0.35vh;
  width:16vh;
  margin: 2vh auto;
 

  

}

.info-task{
  font-family: "super";
  font-size: small;
}


