body{
    background-image:url('rumah.jpg');
}
.div1{
    position: relative;
    bottom:1cm;
}
.div2{
    display:flex;
    position: relative;
   
    
}
.Logo{
   font-family:"Lucida Handwriting";
   font-size:xxx-large;
   color: #318dda86;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

   text-align: center;
  position:relative;
  top: 1.5cm;
}
.item-addtask{
 font-family:Georgia, 'Times New Roman', Times, serif;   
 font-size: medium;
background-color:#c94eb286;
color: black;
cursor:pointer;
border-radius: 5px;
height: 0.70cm;
width:3cm;
position: relative;
left:15cm;
top: 1cm;
}
.item-addtask:hover{
    opacity:0.8;
}
.item-addtask:active{
    opacity:1;
}
.monday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    border-color: black;
    background-color:white;
    margin-right:0.5cm;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
}
.header-monday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
    
}
.tuesday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    max-height: fit-content;
    background-color:white;
    border-style:solid;
    border-width:0.03cm;
}
.header-tuesday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height:1cm;
    border-bottom: 0.03cm solid;
    
}
.wendesday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    border-color: black;
    background-color:white;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
}
.header-wendesday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
}
.thursday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    border-color: black;
    background-color:white;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
    
}
.header-thursday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
    
}
.friday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    border-color: black;
    background-color:white;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
}
.header-friday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
    
}
.saturday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    border-color: black;
    background-color:white;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
}
.header-saturday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
}
.sunday{
    position: relative;
    top:2cm;
    width: 5cm;
    height:7cm;
    margin-right:0.5cm;
    border-color: black;
    background-color:white;
    max-height: fit-content;
    border-style:solid;
    border-width:0.03cm;
}
.header-sunday{
    text-align:center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:1cm;
    background-color: bisque;
    line-height: 1cm;
    border-bottom: 0.03cm solid;
    
    
}
.popup{
    position:absolute;
    top: 0cm;
    right:0cm;
    border-radius:6px;
    width: 6cm; 
    height: 4cm;
    border-style:solid;
    border-color: black;
    border-width:0.03cm;
    transform:translate(-50%,-50%)scale(0.1);
    background-color: bisque;
    text-align:left ;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}

.open-popup{
    visibility: visible;
    top:3cm;
    right:-2cm;
    transform:translate(-50%,-50%)scale(1);
}

.close-popup{
   transition:transform 0.4s,top 0.4s ;
    top:0cm;
    right:0cm;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 500;
    transform:translate(-50%,-50%)scale(0.1);

 
}
